<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="paginator">
        <ul class="pagination">
            <li th:class="${page.first ? 'page-item disabled' : 'page-item'}">
                <span class="page-link" th:if="${page.first}">Primera</span>
                <a class="page-link" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera</a>
            </li>
            <li th:class="${!page.hasPrevious ? 'page-item disabled' : 'page-item'}">
                <span class="page-link" th:if="${not page.hasPrevious}">&laquo;</span>
                <a class="page-link" th:if="${page.hasPrevious}"
                    th:href="@{${page.url}(page=${page.currentPage-2})}">&laquo;</a>
            </li>
            <li th:each="pageItem : ${page.paginas}" th:class="${pageItem.actual ? 'page-item active' : 'page-item'}">
                <span class="page-link" th:if="${pageItem.actual}" th:text="${pageItem.numero}"></span>
                <a class="page-link" th:if="${not pageItem.actual}" th:href="@{${page.url}(page=${pageItem.numero-1})}"
                    th:text="${pageItem.numero}"></a>
            </li>
            <li th:class="${not page.hasNext ? 'page-item disabled' : 'page-item'}">
                <span class="page-link" th:if="${not page.hasNext}">&raquo;</span>
                <a class="page-link" th:if="${page.hasNext}"
                    th:href="@{${page.url}(page=${page.currentPage})}">&raquo;</a>
            </li>
            <li th:class="${page.last ? 'page-item disabled' : 'page-item' }">
                <span class="page-link" th:if="${page.last}">&Uacute;ltima</span>
                <a class="page-link" th:if="${!page.last}"
                    th:href="@{${page.url}(page=${page.totalPages-1})}">Última</a>
            </li>
            <ul>
    </nav>
</body>

</html>